.home{
    width: 100vw;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.swiper{
    width: 100vw;
    max-height: calc(100vh - 52px);
    // clip-path: polygon(0 10%, 100% 10%, 100% 100%, 0 100%);
    object-fit: contain;
    position: relative;

    .swiper-button-next{
        color: white;
        padding-right: 30px;
    }

    .swiper-button-prev{
        color: white;
        padding-left: 15px;
    }

    .swiper-pagination{
        padding-bottom: 20px;
    }

    // .swiper-pagination-bullet{
    // }

    img{
        width: 100vw;
        object-fit: contain;         
    }


    .arrows {
          position: absolute;
          top: 50%;
          display: flex;
          justify-content: space-between;
          z-index: 2;
    }

    .icon{
        position: absolute;
    }
}