.footerContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 150px 100px;
    gap: 50px;
    h1{
        font-size: 1.25rem;
        font-weight: 500;
        padding-bottom: 15px;
    }

    p{
        text-align: justify;
        color: gray;
        padding-bottom: 3px;
        font-size: .88rem;
        font-weight: 400;
    }
}

@media  screen and (max-width: 992px) {
    .footerContainer{
    display: flex;
    padding: 20px 30px;
    .category{
        display: none;
    }
    .links{
        display: none;
    }
}
    
}