.navContainer{
    max-width: none;
    width: 100vw;
    padding: 10px 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    font-weight: 500;

    .icon{
        color: #717171;
    }

    .left{
        display: flex;
        gap: 10px;

        .img{
            display: flex;
            img{
                height: 20px;
                width: 35px;
            }
        }
    }
    
    .center{
        font-size: 1.3rem;
        font-weight: 500;
        display: flex;
        gap: 7px;
    }

    .right{
        display: flex;
        gap: 10px;        
    }

    .right-icons{
        display: none;
    }

    @media screen and (max-width: 1200px) {
        .left{
            display: none;
        }
        .left-menu{
        position: relative;
        .open{
            margin-top: 10px;
            visibility: visible;
            position: absolute;
            transform: translateX(-10px);
            top: 100%;
            left: 0;
            z-index: 999;
            background-color: #fff;
            padding: 0px 15px 15px;

           .img{
            display: flex;

            img{
                height: 20px;
                width: 35px;
            }
        }
        }

        .closed{
            display: none;
        }

    }
        .right{
            display: none;
        }

        .right-icons{
            display: flex;
            gap: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
       .left-menu{
        display: none;
       }
        .open{
        display: none;
        }
        .close{
            display: none;
        }
    }
}